{% extends 'index_layout.twig' %}
{% block content %}
    <div class="row">
        <div class="col col-md-8 col-md-offset-2">
            <table class="table table-striped table-hover">
                {% for repo in repos %}
                <tr>
                    <td>{{ repo.full_name }}</td>
                    <td class="text-right">
                        <input type="checkbox" class="repos">
                        {#<a href="/view/" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-search"></span></a>#}
                        {#<a href="/sites/{{site.directory}}/download" target="_blank" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-download-alt"></span></a>#}
                        {#<a href="#" ng-click="remove(site)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a>#}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function() {
            $(".repos").bootstrapSwitch();
        });
    </script>
{% endblock %}